<div class="row">
    <div class="col-sm-3" ng-repeat="dia in checkboxDias.diasSemana"
         ng-init="checkboxDias.activar(dia, $index)">
        <div class="checkbox">
            <div class="btn-group btn-group-justified">
                <label class="btn btn-default" uib-btn-checkbox name="{{dia.descripcion}}" id="{{dia._id}}"
                       ng-model="dia.activo" ng-checked="checkboxDias.disabledCheks"
                       ng-disabled="checkboxDias.disabledCheks"
                       ng-click="checkboxDias.agregarOEliminar(dia)">{{dia.descripcion}}</label>
            </div>
        </div>
    </div>
    <!-- Diario -->
    <div class="col-sm-3">
        <div class="checkbox">
            <div class="btn-group btn-group-justified">
                <label id="diarioId" class="btn btn-default" name="{{checkboxDias.diario.descripcion}}"
                       id="{{checkboxDias.diario._id}}" uib-btn-checkbox ng-model="checkboxDias.diario.activo"
                       ng-click="checkboxDias.validarDiario()">
                    {{checkboxDias.diario.descripcion}}
                </label>
            </div>
        </div>
    </div>
</div>
