<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Candidato</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img
                                    class="media-object"
                                    src="images\usuario_demos_500x500_gris.png"
                                    alt="{{perfil.nombre}}"
                                    style="max-width: 150px; min-width: 150px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">HÉCTOR FLORES VIZUET</h3>
                        thek_keth@hotmail.com <br>
                        Cel: 5561024884 <br> <br>
                        Ciudad de México <br>
                        Xochimilco <br>
                        Potrero de San Bernardino <br>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="panel panel-defaul" style="min-height: 200px;">
                            <div class="panel-body">
                                <h4 class="media-heading">PERFIL</h4>
                                Género: Masculino <br>
                                Edad: 32 años <br>
                                Escolaridad: Universidad <br>
                                Talla: 15 <br>
                                Estatura: 1.70 Mts.<br>
                                Puesto: Demostrador
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="panel panel-defaul" style="min-height: 200px;">
                            <div class="panel-body">
                                <h4 class="media-heading">EXPERIENCIA</h4>
                                <ul>
                                    <li>Electrónica</li>
                                    <li>Alimentos</li>
                                    <li>Cuidado/Salud</li>
                                    <li>Vinos/Licores</li>
                                    <li>Belleza</li>
                                    <li>Licuadoras</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="panel panel-defaul">
                            <div class="panel-body" style="min-height: 200px;">
                                <h4 class="media-heading">HABILIDADES</h4>
                                <ul>
                                    <li>Buena Presentación</li>
                                    <li>Facilidad de Palabra</li>
                                    <li>Gusto por las ventas</li>
                                    <li>Disp de Trasladarse</li>
                                    <li>Limpieza de áreas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
