<!-- List group -->
<ul class="list-group">
    <li class="list-group-item" ng-repeat="postulado in listaPostulados.postulados"
        ng-init="listaPostulados.existeEnCarroCompras(postulado)"
        ng-class="{ 'panel-success' : postulado.seleccionado}">
        <i class="fa fa-check fa-2x" style="color:green;" aria-hidden="true" ng-show="postulado.seleccionado"></i>
        <strong>{{postulado.candidato().nombre}} {{postulado.candidato().apellidos}}</strong>&nbsp;&nbsp;{{postulado.candidato().sexo}}
        , 25 años
        <button type="button" class="btn btn-link" ng-click="listaPostulados.verificarActualizacion(postulado)">
            <span class="fa fa fa-search-plus fa-lg" aria-hidden="true"></span>
        </button>
        <span class="badge progress-bar-danger" ng-hide="postulado.postVistoAgencia">nueva</span>
        <span class="badge progress-bar-success" ng-show="postulado.estado===2">comprada</span>
        <div class="row" ng-show="postulado.mostrarInfo">
            <div class="col-xs-8">
                <strong>Direccion:</strong> {{postulado.candidato().direccion().estado}}
                | {{postulado.candidato().direccion().delMpio}}<br>
                <strong>Perfil:</strong> {{postulado.perfilLaboral().puesto().descripcion}}
                | {{postulado.perfilLaboral().escolaridad().descripcion}}
                | Talla: {{postulado.perfilLaboral().talla}} |
                Estatura: {{postulado.perfilLaboral().estatura}}<br>
                <strong>Experiencia:&nbsp;</strong>
                <small>{{postulado.perfilLaboral().experienciasEn()}}</small>
                <br>
                <strong>Habilidades:&nbsp;</strong>
                <small>{{postulado.perfilLaboral().hibilidadesEn()}}</small>
            </div>
            <div class="col-xs-4">
                <div ng-show="postulado.estado === 1">
                    <button class="btn btn-primary" ng-hide="postulado.seleccionado"
                            ng-click="listaPostulados.agregarCarrito(postulado, postulado.perfilLaboral().puesto()._id)">
                        <span class="fa fa-shopping-cart fa-2x" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger" ng-show="postulado.seleccionado"
                            ng-click="listaPostulados.eliminarCarrito(postulado, listaPostulados.carritoId)">
                        <span class="fa fa-trash-o fa-2x" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="row" ng-show="postulado.estado === 2">
                    <div class="col-xs-12 text-left bg-info">
                        <strong>Celular:</strong>{{postulado.candidato().celular}}</br>
                        <strong>E-Mail:</strong>{{postulado.candidato().email}}</br>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
