<!-- uib-accordion -->
<uib-accordion close-others="listaPostulados.unAcordion">
    <div uib-accordion-group ng-repeat="postulado in listaPostulados.postulados"
         ng-init="listaPostulados.existeEnCarroCompras(postulado)"
         ng-click="listaPostulados.actualizarPostVistoAgencia(postulado)">
        <uib-accordion-heading >
            {{postulado.candidato().nombre}}&nbsp;{{postulado.candidato().apellidos}}&nbsp;{{postulado.candidato().sexo}}, 25 años
            <span class="badge progress-bar-danger pull-right" ng-hide="postulado.postVistoAgencia">nueva</span>
            <span class="badge progress-bar-success pull-right" ng-if="postulado.estado===2">comprada</span>
            <span class="badge progress-bar-warning pull-right" ng-if="postulado.seleccionado">agregada</span>
        </uib-accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <strong>Direccion:</strong> {{postulado.candidato().direccion().estado}}
                | {{postulado.candidato().direccion().delMpio}}<br>
                <strong>Perfil:</strong> {{postulado.perfilLaboral().puesto().descripcion}}
                | {{postulado.perfilLaboral().escolaridad().descripcion}}
                | Talla: {{postulado.perfilLaboral().talla}} |
                Estatura: {{postulado.perfilLaboral().estatura}}<br>
                <strong>Experiencia:&nbsp;</strong> <small>{{postulado.perfilLaboral().experienciasEn()}}</small><br>
                <strong>Habilidades:&nbsp;</strong> <small>{{postulado.perfilLaboral().hibilidadesEn()}}</small>
                <div class="text-left bg-info" ng-if="postulado.estado === 2">
                    <strong>Celular:</strong>{{postulado.candidato().datosContacto().phone.number}}</br>
                    <strong>Mail:</strong>{{postulado.candidato().datosContacto().emails[0].address}}</br>
                </div>
            </div>
        </div>
        <br>
        <div class="row" ng-if="postulado.estado === 1">
            <div class="col-xs-offset-8 col-xs-4">
                <button class="btn btn-danger pull-right" ng-show="postulado.seleccionado"
                        ng-click="listaPostulados.eliminarCarrito(postulado, listaPostulados.carritoId)">
                    <span class="fa fa-trash-o" aria-hidden="true"></span>&nbsp;&nbsp;Contacto
                </button>
            </div>
            <div class="col-xs-offset-8 col-xs-4">
                <button class="btn btn-primary pull-right" ng-hide="postulado.seleccionado"
                        ng-click="listaPostulados.agregarCarrito(postulado, postulado.perfilLaboral().puesto()._id)">
                    <span class="fa fa-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;Contacto
                </button>
            </div>
        </div>
    </div>
</uib-accordion>



