<form role="form" class="property-submit-form" id="recuperarFormId" name="recuperarForm" nonvalidate autocomplete="off">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- CORREO-->
                    <div class="form-group" ng-class="{ 'has-error' : recuperarForm.usuario.$invalid && !recuperarForm.usuario.$pristine }" ng-hide="recuperar.tipoMsj === 'success'">
                        <input id="candidatoEmailId"
                               class="form-control"
                               name="usuario"
                               type="email"
                               placeholder="Correo electrónico"
                               aria-describedby="basic-addon1"
                               required ng-model="recuperar.credentials.email">
                        <div ng-messages="recuperarForm.usuario.$dirty && recuperarForm.usuario.$error" role="alert">
                            <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            <div class="ng-mensajes" ng-message="email">El formato de email es incorrecto.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ALERTA: COMBINACIÓN INCORRECTA -->
            <div class="row">
                <div class="col-xs-12">
                    <alertas tipo="recuperar.tipoMsj" mensaje="recuperar.msj"></alertas>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <!-- BOTON RECUPERAR-->
                    <button class="btn btn-default btn-block"
                            type="submit"
                            ng-hide="recuperar.tipoMsj === 'success'"
                            ng-disabled="recuperarForm.$invalid"
                            ng-click="recuperar.recuperar()">
                        Recuperar Contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>