<form
        id="tarjetaFrmId"
        class="property-submit-form"
        role="form"
        name="tarjetaFrm"
        nonvalidate>

    <tarjeta tarjeta="editarTarjeta.tarjeta"></tarjeta>
    <div class="row">
        <div class="col-sm-8">
            <!-- ALERTA:  -->
            <div class="row">
                <div class="col-xs-12">
                    <alertas tipo="editarTarjeta.tipoMsj" mensaje="editarTarjeta.msj"></alertas>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button
                    class="btn btn-default btn-block pull-right"
                    type="button"
                    ng-click="editarTarjeta.guardarCambios()"
                    ng-disabled="tarjetaFrm.$invalid">
                Guardar Cambios
            </button>
        </div>
    </div>

</form>
