<form
id="tarjetaFrmId"
class="property-submit-form"
role="form"
name="tarjetaFrm"
nonvalidate>

<tarjeta tarjeta="agregarTarjeta.tarjeta"></tarjeta>
<div class="row">
  <div class="col-sm-8">
    <!-- ALERTA:  -->
    <div class="row">
      <div class="col-xs-12" ng-show="agregarTarjeta.respuesta.mostrar">
        <uib-alert type="{{ agregarTarjeta.respuesta.tipo }}">
          <span class="fa fa-exclamation-triangle"></span>
          <strong> {{ agregarTarjeta.respuesta.mensaje }} </strong>
        </uib-alert>
      </div>
    </div>
  </div>
  <div class="col-sm-4">    
    <button
    class="btn btn-primary btn-block pull-right"
    type="button"
    ng-click="agregarTarjeta.guardar()"
    ng-disabled="tarjetaFrm.$invalid">
    Guardar Tarjeta
  </button>
  </div>
</div>

</form>
