<!-- TÍTULO de la página, esto es fijo en todas las pantallas que llevan metismenu -->
<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header">{{miCuenta.titulo}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
    <foto></foto>
    <uib-accordion close-others="oneAtATime">
      <uib-accordion-group heading=" {{ miCuenta.subtitulo1 }} ">
        <perfil></perfil>
      </uib-accordion-group>
      <uib-accordion-group heading=" {{ miCuenta.subtitulo2 }} ">
        <datos-personales></datos-personales>
      </uib-accordion-group>
      <uib-accordion-group heading=" {{ miCuenta.subtitulo3 }} ">
        <actualizar-direccion></actualizar-direccion>
      </uib-accordion-group>
      <uib-accordion-group heading=" {{ miCuenta.subtitulo4 }} ">
        <constrasenia-correo></constrasenia-correo>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
