inicio{
  section.fondo {
      background-color: @gray-lighter;
      background-image: url("/images/agencia_supermercado.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      height: auto;
    }
  div.panelRegistro {
    background-color: rgba(0, 0, 0, .2);
    border-style: none;
    border-radius: 6px;
  }

  select {
    /*Desaparece la flecha de los selects en Chrome*/
    -moz-appearance: none;
    /*Desaparece la flecha de los selects en FireFox*/
    -webkit-appearance:none;
  }
  /*Desaparece la flecha de los selects en IE10*/
  select::-ms-expand {
    display: none;
  }
}
