<!-- TÍTULO de la página, esto es fijo en todas las pantallas que llevan metismenu -->
<div class="row">
    <h4 class="page-header">{{datosBancarios.titulo}}</h4>
    <div ui-view=""></div>
    <!-- div class="col-xs-12">

        <button class="btn btn-default" class="close" ng-show="datosBancarios.tarjetas">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <i class="fa fa-credit-card" aria-hidden="true"></i>
        </button>
    </div -->
</div>

<!-- div class="panel-body">
<div class="panel-heading">Mi Tarjeta Bancaria</div>
  <agregar-tarjeta
    ng-hide="datosBancarios.tarjeta._id">
  </agregar-tarjeta>
</div -->

