<!-- uib-accordion -->
<uib-accordion close-others="listaPostulados.unAcordion">
    <div uib-accordion-group ng-repeat="seleccionado in listaSeleccionados.seleccionados"
         ng-click="listaSeleccionados.actualizarSelecVistoAgencia(seleccionado)">
        <uib-accordion-heading >
            <i class="fa fa-certificate fa-2x" style="color:green;" aria-hidden="true"></i>&nbsp;&nbsp;
            {{seleccionado.candidato().nombre}}&nbsp;{{seleccionado.candidato().apellidos}}&nbsp;{{seleccionado.candidato().sexo}}, 25 años
            <span class="badge progress-bar-danger pull-right" ng-hide="seleccionado.estado===2 && seleccionado.selecVistoAgencia">nueva</span>
        </uib-accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <strong>Direccion:</strong> {{seleccionado.candidato().direccion().estado}}
                | {{seleccionado.candidato().direccion().delMpio}}<br>
                <strong>Perfil:</strong> {{seleccionado.perfilLaboral().puesto().descripcion}}
                | {{seleccionado.perfilLaboral().escolaridad().descripcion}}
                | Talla: {{seleccionado.perfilLaboral().talla}} |
                Estatura: {{seleccionado.perfilLaboral().estatura}}<br>
                <strong>Experiencia:&nbsp;</strong> <small>{{seleccionado.perfilLaboral().experienciasEn()}}</small><br>
                <strong>Habilidades:&nbsp;</strong> <small>{{seleccionado.perfilLaboral().hibilidadesEn()}}</small>
                <div class="text-left bg-info" ng-if="seleccionado.estado === 2">
                    <strong>Celular:</strong>{{seleccionado.candidato().datosContacto().phone.number}}</br>
                    <strong>Mail:</strong>{{seleccionado.candidato().datosContacto().emails[0].address}}</br>
                </div>
            </div>
        </div>
        <br>
    </div>
</uib-accordion>


