<form role="form" class="property-submit-form" id="vacanteFrmId" name="vacanteFrm" novalidate>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <titulo titulo="agregarVacante.titulo"></titulo>
            <div class="panel-body">
                <div class="row">
                    <!-- TALLA -->
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.elegirTalla.$invalid && !vacanteFrm.elegirTalla.$pristine}">
                            <elegir-talla tallaid="agregarVacante.vacante.perfil.talla"></elegir-talla>
                            <div ng-messages="vacanteFrm.elegirTalla.$dirty && vacanteFrm.elegirTalla.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo Requerido</div>
                            </div>
                        </div>
                    </div>
                    <!-- SEXO -->
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.sexo.$invalid && !vacanteFrm.sexo.$pristine}">
                            <select class="form-control" id="sexoID" name="sexo"
                                    ng-model="agregarVacante.vacante.perfil.sexo" required>
                                <option value="">Sexo</option>
                                <option value="Hombre">Hombre</option>
                                <option value="Mujer">Mujer</option>
                                <option value="Indistino">Indistinto</option>
                            </select>
                            <div ng-messages="vacanteFrm.sexo.$dirty && vacanteFrm.sexo.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                    <!-- ESCOLARIDAD -->
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.elegirEscuela.$invalid && !vacanteFrm.elegirEscuela.$pristine}">
                            <elegir-escuela escolaridadid="agregarVacante.vacante.perfil.escolaridad"></elegir-escuela>
                            <div ng-messages="vacanteFrm.elegirEscuela.$dirty && vacanteFrm.elegirEscuela.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                    <!-- PUESTO (Tipo de vacante)-->
                    <div class="col-sm-6">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.elegirPuesto.$invalid && !vacanteFrm.elegirPuesto.$pristine}">
                            <elegir-puesto puestoid="agregarVacante.vacante.puestoId"></elegir-puesto>
                            <div ng-messages="vacanteFrm.elegirPuesto.$dirty && vacanteFrm.elegirPuesto.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- EXPERIENCIA -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group"><label>Experiencia:</label></div></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default"
                                            name="experienciaSi"
                                            type="button"
                                            required
                                            uib-btn-radio="true"
                                            ng-model="agregarVacante.vacante.perfil.experiencia.requerida">Si
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default"
                                            name="experienciaNo"
                                            type="button"
                                            required
                                            uib-btn-radio="false"
                                            ng-model="agregarVacante.vacante.perfil.experiencia.requerida">No
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="agregarVacante.vacante.perfil.experiencia.requerida">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.experiencia.$invalid && !vacanteFrm.experiencia.$pristine}">
                            <select class="form-control" id="experienciaID" name="experiencia"
                                    ng-model="agregarVacante.vacante.perfil.experiencia.descripcion"
                                    ng-required="agregarVacante.vacante.experiencia.requerida">
                                <option value="">Experiencia</option>
                                <option value="1">Alimentos</option>
                                <option value="2">Electronica</option>
                                <option value="3">Cuidado / Salud</option>
                                <option value="4">Belleza</option>
                                <option value="5">Vinos / Licores</option>
                                <option value="6">Abarrotes</option>
                            </select>
                            <div ng-messages="vacanteFrm.experiencia.$dirty && vacanteFrm.experiencia.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="agregarVacante.vacante.perfil.experiencia.requerida">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.otraExpe.$invalid && !vacanteFrm.otraExpe.$pristine}">
                            <input class="form-control"
                                   name="otraExpe"
                                   id="otraExpeId"
                                   rows="1"
                                   ng-model="agregarVacante.vacante.perfil.experiencia.otra"
                                   placeholder="Otra Experiencia...."
                                   ng-pattern=""
                                   maxlength="15">
                        </div>
                        <div ng-messages="vacanteFrm.otraExpe.$dirty && vacanteFrm.otraExpe.$error" role="alert">
                            <div class="ng-mensajes" ng-message="pattern">Solo texto</div>
                        </div>
                    </div>
                </div>
                <!-- HABILIDADES -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"><label>Habilidades:</label></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-default"
                                                name="habilidadesSi"
                                                type="button"
                                                required
                                                uib-btn-radio="true"
                                                ng-model="agregarVacante.vacante.perfil.habilidades.requerida">Si
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-default"
                                                name="habilidadesNo"
                                                type="button"
                                                required
                                                uib-btn-radio="false"
                                                ng-model="agregarVacante.vacante.perfil.habilidades.requerida">No
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br><!-- ESTO ES NECESARIO PARA APROVECHAR EL ESPACIO CUANDO ES IPAD -->
                            <br><!-- ESTO ES NECESARIO PARA APROVECHAR EL ESPACIO CUANDO ES IPAD -->
                            <br><!-- ESTO ES NECESARIO PARA APROVECHAR EL ESPACIO CUANDO ES IPAD -->
                            <br><!-- ESTO ES NECESARIO PARA APROVECHAR EL ESPACIO CUANDO ES IPAD -->
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div ng-show="agregarVacante.vacante.perfil.habilidades.requerida">
                            <checkbox-habilidades habseleccionadas="agregarVacante.vacante.perfil.habilidades.listado"
                                                  otrahabilidada="agregarVacante.vacante.perfil.habilidades.otra">
                            </checkbox-habilidades>
                            <div ng-messages="vacanteFrm.textHabilidades.$dirty && vacanteFrm.textHabilidades.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <titulo titulo="agregarVacante.tituloDos"></titulo>
            <div class="panel-body">
                <div class="row">
                    <!-- DIAS -->
                    <div class="col-sm-12">
                        <!-- DIAS A LABORAR -->
                        <checkbox-dias diasseleccionados="agregarVacante.listadoDias"></checkbox-dias>
                    </div>
                    <!-- HORARIO -->
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <strong class="text-center center-block">Horario</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    <div uib-timepicker
                                         ng-model="agregarVacante.vacante.horarios.hrsInicio"
                                         minute-step="15">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <br><br><br>
                                <strong class="text-center">a:</strong>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div uib-timepicker
                                         ng-model="agregarVacante.vacante.horarios.hrsFin"
                                         minute-step="15">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!-- ESTADO -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.elegirEstado.$invalid && !vacanteFrm.elegirEstado.$pristine}">
                            <elegir-estado estadoid="agregarVacante.vacante.estadoId"></elegir-estado>
                            <div ng-messages="vacanteFrm.elegirEstado.$dirty && vacanteFrm.elegirEstado.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                            </div>
                        </div>
                    </div>
                    <!-- DURACIÓN -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- PERIODO DE CONTRATACIÓN -->
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.duracion.$invalid && !vacanteFrm.duracion.$pristine}">
                            <select class="form-control" name="duracion" id="duracionID"
                                    ng-model="agregarVacante.vacante.horarios.duracion" required>
                                <option value=""> Duración de la promoción </option>
                                <option value="1 Semana"> 1 Semana </option>
                                <option value="2 Semanas"> 2 Semanas </option>
                                <option value="3 Semanas"> 3 Semanas </option>
                                <option value="4 Semanas"> 4 Semanas </option>
                                <option value="5 Semanas"> 5 Semanas </option>
                                <option value="6 Semanas"> 6 Semanas </option>
                                <option value="2 Meses"> 2 Meses </option>
                                <option value="3 Meses"> 3 Meses </option>
                                <option value="4 Meses"> 4 Meses </option>
                                <option value="5 Meses"> 5 Meses </option>
                                <option value="Indefinido"> Tiempo indefinido </option>
                            </select>
                            <div ng-messages="vacanteFrm.duracion.$dirty && vacanteFrm.duracion.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido </div>
                            </div>
                        </div>
                    </div>
                    <!-- SUELDO DIARIO -->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.sueldo.$invalid && !vacanteFrm.sueldo.$pristine}">
                            <input class="form-control" id="sueldoDiarioID" type="number"
                                   placeholder="Sueldo x día (pesos mexicanos)" min="1"
                                   name="sueldo"
                                   ng-model="agregarVacante.vacante.sueldo" required>
                            <div ng-messages="vacanteFrm.sueldo.$dirty && vacanteFrm.sueldo.$error" role="alert">
                                <div class="ng-mensajes" ng-message="number,required">Campo Númerico</div>
                            </div>
                        </div>
                    </div>
                    <!-- MARCA (Marca o compañía a la cual el candidato va a representar)-->
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : vacanteFrm.marca.$invalid && !vacanteFrm.marca.$pristine}">
                            <input class="form-control" id="marcaID" name="marca" type="text"
                                   placeholder="Marca Ej.: Suavitel"
                                   ng-model="agregarVacante.vacante.marca" maxlength="20"
                                   minlength="1" required>
                            <div ng-messages="vacanteFrm.marca.$dirty && vacanteFrm.marca.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                                <div class="ng-mensajes" ng-message="minlength,maxlength">Mínimo 1 dígito requerido, máximo 20 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-default pull-right"
                                type="button"
                                ng-click="agregarVacante.siguiente()"
                                ng-disabled="vacanteFrm.$invalid">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>