<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Vacantes Publicadas.
    </div>
    <div class="panel-body">
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Marca</th>
                <th>Puesto</th>
                <th>Estado</th>
                <th>Fecha Creación</th>
                <th># Postulaciones</th>
                <th># Seleccionadas</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tr ng-repeat="vacante in vacantesPublicadas.vacantes">
                <td>{{vacante.marca}}</td>
                <td>{{vacante.puesto().descripcion}}</td>
                <td>{{vacante.estado().descripcion}}</td>
                <td>{{vacante.fechaCreacion | date : format : dd/MM/YYYY}}</td>
                <td>
                    <a class="btn" ui-sref="app.vacantes.postulados({vacanteId:vacante._id})">
                        <num-postulados vacanteid="vacante._id"></num-postulados>
                    </a>

                </td>
                <td>
                    <a class="btn" ui-sref="app.vacantes.seleccionados({vacanteId:vacante._id})">
                        <num-seleccionados vacanteid="vacante._id"></num-seleccionados>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="vacantesPublicadas.eliminar(vacante._id)">
                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- script type="text/ng-template" id="eliminarModal.html">
    <eliminar-vacante></eliminar-vacante>
</script -->
