<form role="form" class="property-submit-form" id="reiniciarContraseniaFormId" name="reiniciarContraseniaForm" nonvalidate autocomplete="off">
    <div class="panel panel-default">
        <titulo titulo="reiniciarContrasenia.titulo"></titulo>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- CONTRASEÑA  -->
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : reiniciarContraseniaForm.newPassword.$invalid && !reiniciarContraseniaForm.newPassword.$pristine }">
                            <input id="candidatoPasswordID"
                                   class="form-control"
                                   name="newPassword"
                                   type="password"
                                   placeholder="Nueva Contraseña"
                                   aria-describedby="basic-addon1"
                                   required
                                   ng-minlength="5"
                                   ng-maxlength="8"
                                   minlength="5"
                                   maxlength="8"
                                   ng-model="reiniciarContrasenia.newPassword">
                            <div ng-messages="reiniciarContraseniaForm.newPassword.$dirty && reiniciarContraseniaForm.newPassword.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                                <div class="ng-mensajes" ng-message="minlength, maxlength"> Minimo 6 caracteres, maximo 8</div>
                            </div>
                        </div>
                    </div>
                    <!-- CONFIRMAR CONTRASEÑA  -->
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : reiniciarContraseniaForm.confNewPassword.$invalid && !reiniciarContraseniaForm.confNewPassword.$pristine }">
                            <input id="candidatoPasswordID" class="form-control" name="confNewPassword" type="password"
                                   placeholder="Confirmar Nueva Contraseña" aria-describedby="basic-addon1" required
                                   ng-minlength="6" ng-maxlength="8" minlength="6" maxlength="8" conf-invalida
                                   ng-model="reiniciarContrasenia.confNewPassword">
                            <div ng-messages="reiniciarContraseniaForm.confNewPassword.$dirty && reiniciarContraseniaForm.confNewPassword.$error" role="alert">
                                <div class="ng-mensajes" ng-message="required">Campo requerido</div>
                                <div class="ng-mensajes" ng-message="minlength, maxlength"> Minimo 6 caracteres, maximo 8</div>
                                <div class="ng-mensajes" ng-message="confInvalida">Nueva Contraseña y confirmación no coinciden</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ALERTA: COMBINACIÓN INCORRECTA -->
            <div class="row">
                <div class="col-xs-12">
                    <alertas tipo="reiniciarContrasenia.tipoMsj" mensaje="reiniciarContrasenia.msj"></alertas>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <!-- BOTON-->
                    <button type="button"
                            class="btn btn-default btn-block"
                            ng-class="{'disabled': reiniciarContrasenia.cargando === true}"
                            ng-disabled="reiniciarContraseniaForm.$invalid || reiniciarContrasenia.cargando === true"
                            ng-click="reiniciarContrasenia.reiniciar()">
                        <span ng-class="{'glyphicon glyphicon-refresh animacion-cargando' : reiniciarContrasenia.cargando}"></span>
                        <span ng-show="reiniciarContrasenia.cargando">cargando...</span>
                        <span ng-hide="reiniciarContrasenia.cargando">Reestablecer</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>