<div class="panel panel-default">
    <div class="panel-heading">
        Detalle de la Vacante.
    </div>
    <div class="panel-body">
        <uib-tabset active="activeForm" >
            <uib-tab index="0" heading="Datos Principales">
                <dl class="dl-horizontal">
                    <dt>Marca:</dt>
                    <dd>{{detalleVacante.vacante.marca}}</dd>
                    <dt>Cadena:</dt>
                    <dd>{{detalleVacante.vacante.cadenaDesc}}</dd>
                    <dt>Sucursal:</dt>
                    <dd>{{detalleVacante.vacante.sucursal}}</dd>
                    <dt>Tipo Vacante:</dt>
                    <dd>{{detalleVacante.vacante.tipoVacanteId}}</dd>
                    <dt>Estado:</dt>
                    <dd>{{detalleVacante.vacante.estadoDesc}}</dd>
                    <dt>Delegacion ó Municipio:</dt>
                    <dd>{{detalleVacante.vacante.delMpio}}</dd>
                    <dt>Sueldo:</dt>
                    <dd>{{detalleVacante.vacante.sueldo}}</dd>
                    <dt>Vacantes por tienda:</dt>
                    <dd>{{detalleVacante.vacante.numVacantes}}</dd>
                </dl>
            </uib-tab>
            <uib-tab index="1" heading="Perfil">
                <dl class="dl-horizontal">
                    <dt>Sexo:</dt>
                    <dd>{{detalleVacante.vacante.perfil.sexo}}</dd>
                    <dt>Talla:</dt>
                    <dd>{{detalleVacante.vacante.perfil.talla}}</dd>
                    <dt>Escolaridad:</dt>
                    <dd>{{detalleVacante.vacante.perfil.escolaridad}}</dd>
                    <dt>Experiencia:</dt>
                    <dd ng-show="detalleVacante.vacante.perfil.experiencia.requerida">Si</dd>
                    <dd ng-hide="detalleVacante.vacante.perfil.experiencia.requerida">No</dd>
                    <dt>Exp. Descripcion:</dt>
                    <dd>{{detalleVacante.vacante.perfil.experiencia.descripcion}}, {{detalleVacante.vacante.perfil.experiencia.otra}}</dd>
                </dl>
            </uib-tab>
            <uib-tab index="2" heading="Horarios">
                <dl class="dl-horizontal">
                    <dt>Dias a laborar:</dt>
                    <dd>{{detalleVacante.vacante.horarios.dias}}</dd>
                    <dt>Horario:</dt>
                    <dd>{{detalleVacante.vacante.horarios.hrsInicio}} - {{detalleVacante.vacante.horarios.hrsFin}}</dd>
                    <dt>Duracion:</dt>
                    <dd>{{detalleVacante.vacante.horarios.duracion}}</dd>
                </dl>
            </uib-tab>
        </uib-tabset>
    </div>
</div>