<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalle de la Promocions y tiendas a cubrir.
            </div>
            <div class="panel-body">
                <tabs-detalle-vacante vacante="postulados.vacante"></tabs-detalle-vacante>
                <br>
                <ol class="breadcrumb">
                    <li>Número de candidatos postulados por tienda:</li>
                </ol>
                <div class="list-group">
                    <button ng-repeat="tienda in postulados.tiendas" class="list-group-item"
                       ng-click="postulados.actualizarPostulaciones(tienda._id)">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="badge">
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                    {{tienda.numPostulados}}
                                </span>
                            </div>
                            <div class="col-xs-10">
                                <p>
                                    <small>
                                        <strong>{{ tienda.cadena().descripcion }}</strong> /
                                        {{ tienda.delMpio }} /
                                        {{ tienda.sucursal }}
                                    </small>&nbsp;&nbsp;
                                    <small class="text-danger" ng-show="tienda.postulacionesNuevas() > 0">
                                        <strong>Nueva Postulación</strong>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Candidatos postulados, seleeccione la mejor opcion:
            </div>
            <div class="panel-body">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
