<div class="panel panel-default">
    <div class="panel-heading">
        <titulo titulo="registroPendienteVerificacion.titulo"></titulo>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{registroPendienteVerificacion.mensajeTitulo}}</h1>
            </div>
            <div class="col-xs-12">
                {{registroPendienteVerificacion.mensajePrincipal}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <alertas tipo="registroPendienteVerificacion.tipoAlerta" mensaje="registroPendienteVerificacion.msjAlerta"></alertas>
            </div>
        </div>
    </div>
</div>