navigation {

  // Se añade el estilo correpondiente al componente <navigation-carrito>
  li > a > navigation-carrito > a {
    color: #777777; // #777777 (es el gris oficial de bootstrap)
  }
  li > a > navigation-carrito > a:hover {
    text-decoration: none;
    color: #333333; // #333333 (Casi seguro que es color oficial de bootstrap)
  }

  li > a > navigation-carrito > a:link {
    text-decoration: none;
    color: #333333; // #333333 (Casi seguro que es color oficial de bootstrap)
  }
  li > a > navigation-carrito > a:active {
    text-decoration: none;
    color: #333333; // #333333 (Casi seguro que es color oficial de bootstrap)
  }

  logout > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
  }
  logout > a:hover {
    color: #333;
    cursor: pointer;
    background-color: #f5f5f5;
    text-decoration:none;
  }

}