navigation {

  nav.navbar {
    background-color: @color-sextario;
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: @color-secundario;
    color: @color-secundario;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
  }

  .dropdown-menu {
    border-radius: 0px;
    border-width: 2px;
    border-color: @color-secundario;
    background-color: @color-secundario-transparencia;
    a {
      color: @color-sextario !important;
    }
    a:hover {
      background-color: @color-secundario !important;
      text-decoration: none;
      color: @color-sextario !important;
    }
  }

  a {
    color: @color-secundario !important;
  }

  a:hover {
    color: @color-terciario !important;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
    color: #333333 !important;
  }
  a:active {
    text-decoration: none;
    color: #333333 !important;
  }

  logout > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
  }
  logout > a:hover {
    color: #333;
    cursor: pointer;
    background-color: #f5f5f5;
    text-decoration:none;
  }

}